/* styles.css */
*{
/*border:2px solid #f38138;--*/
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}
@font-face {
    font-family: "Batangas";
    src: url('fonts/Batangas.otf') format('opentype'); /* path to the font file */
    font-weight: 700;
    font-style: normal;
}

h1{
    font-family: "Batangas", Montserrat;
    color: #103a55;
    margin: 0;
}

p{
    font-size: 1.2rem;
    text-align: justify;
    font-weight: 500;
}


/*------------------------------ HERO SECTION STARS----------------------------*/
.hero-section {
    display: block;
    position: absolute; /* Ensure this is on top of the video */
    z-index: 1; /* Set higher than video and overlay */
    top: 35%; /* Center vertically */
    left: 10%; /* Center horizontally */
    transform: translate(); /* Adjust to ensure text is centered */
    color: #fff; /* Ensure it's visible */
}
.big-text {
    font-size: 3.8rem; /* Responsive font size  */
    color: #ffce00;
    text-align: left;
 }
.small-text {
    font-size: 2rem; /* Responsive font size */
    font-weight: 400;
    color: #ffffff;
    margin: 0;
    text-align: left;
}
.button-container{
    margin-top: 15px;
    height: auto;
}
.cta-button-hero {
    background-color: #f38138;
    color: white;
    margin-top: 15px;
    padding:10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 1s ease;
}

.cta-button-hero:hover {
    background-color: #ffce00;

}

    
/* Fullscreen video */

.hero-background {
    
    position: relative; /* Added for positioning */
    margin: 0 auto;
    margin-bottom: -150px;
    overflow: hidden;
    top: -150px; /* Adjusting the position of the video */
    border-bottom: 10px solid #ffce00;
}
video {
    position: relative; /* Added for positioning */
    width: 100%;
    z-index: 0; /* Ensure it's behind the overlay */
}
.hero-background::after {
    content: "";
    position: absolute;
    top: -150px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(16, 58, 85, 0.6); /* Color with transparency */
    z-index: 0; /* Overlay above video */
}

/*-----------------------END HERO SECTION STYLES----------------------------*/

/*-----------------------SERVICES SECTION STARTS----------------------------*/
.services-container{
    
    padding:50px 0;
    margin-top: 0;
    
}
.services-header{
    padding:0 20%;
    margin: 0;
}
.text-box{
    background-color: #ffce00;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 5px 5px 2px 5px ;
}

/*-------------------------------FLIP BOX STYLES-----------------------------*/

.zoom-box{
    margin-top:50px;
    display:flex;
    width:100%;
    height:500px;
    justify-content: center;
    align-items: center;

}

.zoom-box-inner{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    max-height: 500px;
    width: 300px;
    margin:0 50px;
}
/*------------------------SERVICES BOX HOVER ANIMATION --------------------*/
.zoom-box-front, .zoom-box-back{
position:absolute;
height: 100%;
width: 100%;
margin:0 auto;
border-radius: 15px;
transition: transform 1s, opacity 0.5s ease;
overflow: hidden;
}


.zoom-box-front{
    background: radial-gradient(circle, 
    rgb(255, 222, 91) 20%,  /* Lighter yellow at 20% */
    rgb(255, 206, 0) 75%);  /* Darker yellow at 75% */
    z-index: 2;
   transform:scale(1);   ;
   opacity:1;
}


.zoom-box-back{
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    transform:scale(0.3);
   
}

.zoom-box-inner:nth-of-type(1) .zoom-box-back {
    background-image: url('media/images/imagen-idiomas-tablero-fondo.png');
}
.zoom-box-inner:nth-of-type(2) .zoom-box-back{
    background-image: url('media/images/fondo-imagen-estudios-universitarios.png');
}
.zoom-box-inner:nth-of-type(3) .zoom-box-back {
    background-image: url('media/images/fondo-vacaciones-working-holiday.png');
}


.zoom-box-back-content {
    position: relative;
    z-index: 3; /* Content will be above the overlay */
    height: 100%;
}
.zoom-box-back:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 158, 186, 0.6); /* Blue overlay with transparency */
    z-index: 2; /* Ensure it sits above the image */
}
.zoom-box-inner:hover .zoom-box-front{
    transform:scale(0.3);
    opacity:0;
}

.zoom-box-inner:hover .zoom-box-back{
    transform:scale(1);
}  
.zoom-box-inner:active .zoom-box-back{
    transform:scale(0.9);
}  

/*-----------------YELLOW BOX CONTENT---------------- */
.zoom-box-front-content, .zoom-box-back-content {
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100%;
    overflow:hidden;
    box-sizing: border-box;
    align-items: center;
    justify-content:center;
    padding: 0 5%;
    
}


.zoom-box-front-content img{
    width:50%;
    border-bottom: 5px solid #103a55;
}
.zoom-box-front-content h1, 
.zoom-box-front-content p {
    width: 100%; /* Ensure h1 and p fill the container */
    text-align: center;
    box-sizing: border-box; /* Ensure padding is part of width */
    overflow-wrap: break-word; /* Prevent text from overflowing */
    margin: 5px 0; /* Optional: add some spacing */
    padding: 5px;
}

.zoom-box-front-content p{
    min-height: 150px;
}


/*----------------------FINISH YELLOW BOX CONTENT ----------------*/
/*---------------------------BLUE BOX CONTENT-------------------- */
.zoom-box-back-content{
background-color: rgba(4, 158, 186, 0.8);
padding: 10px ;
justify-content: center;
}
.zoom-box-back-content h1, 
.zoom-box-back-content p {
    color:#ffffff;
    text-align: center;
    padding: 0;
    margin: 20px;
    line-height: 1.2;
    
}
.zoom-box-back-content h1{
    font-size: 1.5rem;
}

/*---------------------FINISH BLUE BOX CONTENT-------------------- */

/*---------------------------RESPONSIVE STYLES-------------------------- */
@media (max-width: 768px) {
    .hero-section {
        top:18%;       
        border-right: none; /* Remove border for mobile */
        height: auto;
    }
    .button-container {
        width: 60%; /* Full width button on smaller screens */
        margin:10px 0;
    }
    .hero-background {
        top:0;
        height: auto;
        margin: 0;
    }
    video {
        object-fit: contain;
        width: 135%;    
    }
    .small-text{
         font-size: 1.2rem;
         height: auto;
         padding: 0;
           }
    .big-text{
        font-size: 1.8rem;
         padding: 0;
        }

    .cta-button-hero{
        font-size: 0.7rem;
        width: 50%;
        }
    .services-container{
        padding: 5%;
            
        }
    .services-header{
        padding: 0 15px;
        box-sizing: border-box;
        margin-bottom: 0;
        }
    .services-header h1{
        font-size: 1.5rem;
        padding: 15px 0;
        text-align:center;
        }
    .zoom-box{
        flex-direction: column;
        margin-top: 20px;
        }
    .zoom-box-inner{
        width: 90%;
        height: 250px;
        box-sizing: border-box;
         margin-bottom: 20px;
         }
        .zoom-box-front-content img{
            width:30%;
            border:0px
        }
        .zoom-box-inner h1{
            font-size: 1.5rem;
            padding: 0;
            margin: 0;
        }
        .zoom-box-front-inner   p{
            font-size: 0.8rem;
           
        }
        .zoom-box-front-content{
            padding: 20% 0;
            max-height: 200px;

        }
    .zoom-box-front-mobile  {
        flex-direction: row;
        border-bottom:5px solid #103a55;
        width: 90%;
        padding-top: 0;
    }   
    .zoom-box-back{
    height: 250px;
    box-sizing: content-box;
    }
    .zoom-box-back-content{
        background-color: rgba(4, 158, 186, 0.9);
        padding: 0 10px ;
        justify-content: center;
        height: 250px;
        }
        .zoom-box-back-content h1, 
        .zoom-box-back-content p {
            color:#ffffff;
            text-align: center;
            padding: 10px;
            margin: 0px;
            line-height: 1;
            
        }
        .zoom-box-back-content h1{
            font-size: 1.2rem;
            margin-bottom: 10px;
            border-bottom: 2px solid #ffce00;
        }
        .zoom-box-back-content p{
            font-size: 0.8rem;
            margin-top: 10px;
            text-align: justify;
            padding: 0 10px;
        }
        .zoom-box-back-content .cta-button-hero{
            width: 30%;
            text-align: center;
            font-size: 0.8rem;
        }
}       
           
            
        


