/* Global Styles */
:root{
    --dark-blue: #103a55;
    --orange: #f38138;
    --yellow: #ffce00;
    --blue: #049eba;
    --light-blue:#e9fffe;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;

}

/* Font Face */
@font-face {
    font-family: "Batangas";
    src: url('fonts/Batangas.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

/* Utility Classes */
.text-center {
    text-align: center;
}

.margin-top-5 {
    margin-top: 5%;
}

.padding-0-10 {
    padding: 0 10%;
}

.full-width {
    width: 100%;
}

/* Heading Styles */
h1 {
    font-family: "Batangas", Montserrat;
    color: var(--dark-blue);
    margin: 0;
    font-size: clamp(8px, 5vw, 150px);
}

h2 {
    font-size: clamp(8px, 3vw, 120px);
}

p {
    font-size: clamp(6px, 2vw, 34px);
    text-align: justify;
    font-weight: 500;
}

/* Menu Styles */
.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100vw;
    height: 55px;
    background-color: transparent;
    position: absolute;
    overflow: hidden;
    z-index: 2;
    border-bottom: 2px solid var(--yellow);
}

.logo {
    padding-left: 20px;
    padding-right: 40px;
    width: 200px;
    margin: 0 auto;
}

.desktop-menu {
    margin: 0 40px;
}

.desktop-menu ul li {
    display: inline-block;
    position: relative;
    margin: 0 15px;
}

.desktop-menu ul li:hover .dots {
    display: flex;
    justify-content: center;
}

.dots {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    margin-top: 5px;
}

.dots span {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 4px;
    background-color: var(--yellow);
    border-radius: 50%;
}

.desktop-menu a {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

.cta-button {
    background-color: var(--orange);
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 15px;
    font-size: 0.8rem;
}

.cta-button:hover {
    background-color: var(--yellow);
}

/* Mobile Menu Styles */
.mobile-menu {
    padding: 0;
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}

.ham-menu {
    height: 40px;
    width: 50px;
    position: relative;
    cursor: pointer;
}

.ham-menu span {
    height: 2px;
    width: 60%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 30%;
}

.ham-menu span:nth-child(3) {
    top: 70%;
}

/* Offscreen Menu */
.off-screen-menu {
    width:100%;
    background-color: var(--dark-blue);
    height: 80vh;
    
    max-width: 450px;
    position: fixed;
    top: -94vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}

.off-screen-menu.active {
    position: fixed;
    top: 50px;
    z-index: 10;
}

/* Mobile Menu List */
.mobile-menu-list {
    top: 100%;
    right: 0;
    background-color: #ffffff;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

/* Dropdown List Items */
.mobile-menu-list a {
    background-color: var(--dark-blue);
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
    text-align: left;
    font-size: 0.9rem;
}

/* Hero Section Styles */
.hero-section {
    position: absolute;
    width: 80%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    top: 0;
    left: 5%;
}

.divider {
    width: 100%;
    height: min(120px,30%);
}

.big-text {
    color: var(--yellow);
}

.small-text {
    font-weight: 400;
    color: #ffffff;
}

.button-container {
    margin-top: 5%;
    width: 35%;
    min-width: 5%;
    max-width: 50%;
}

.cta-button-hero {
    background-color: var(--orange);
    color: white;
    padding: 2%;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 1s ease, content 1s ease;
    font-size: clamp(12px, 2vw, 25px);
}

.cta-button-hero:hover {
    background-color: var(--yellow);
}

/* Fullscreen Video */
.hero-background {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 10px solid var(--yellow);
    background-color: rgba(16, 58, 85, 0.8);
}

video {
    position: relative;
    width: 100%;
    height: auto;
    z-index: -1;
}

/* Services Section Styles */
.services-container {
    height: auto;
    margin-top: 5%;
    width: 100%;
}

.header {
    padding: 0 10%;
    width: 100%;
}

.services-header {
    overflow: hidden;
}

.header h1 {
    font-size: clamp(8px, 3vw, 150px);
    color: #103a55;
    text-align: center;
}

.header p {
    font-size: clamp(8px, 1.5vw, 150px);
    margin-top: 5%;
}

.text-box {
    background-color: var(--yellow);
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 2px 5px;
}

/* Flip Box Styles */
.zoom-box {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-inline: auto;
    width: 80%;
    justify-content: center;
    align-content: center;
}

.zoom-box-inner {
    position: relative;
    max-width: 350px;
    width:25%;
    height: 30%;
    min-height:200px;
    margin: 10px 20px;
    justify-content: center;
    align-content: center;
}

@media (max-width: 720px){
    .zoom-box-inner{
        width:100%;
        max-width: 500px;
        min-height:150px;
    }
    .zoom-box-front-content{
        width: 80%;
    }
    .zoom-box-front-content img {
        max-width: 100px;
    
}
}
.zoom-box-inner h2 {
    font-size: clamp(20px, 2vw, 40px);
    font-family: "Batangas", Montserrat;
    text-align: center;
    
}

.zoom-box-inner p {
    font-size: clamp(15px, 1.5vw, 40px);
    text-align: center;
}

/* Services Box Hover Animation */
.zoom-box-front, .zoom-box-back {
    position: absolute;
    display: flex;
    height: 100%;
    width:100%;
    margin: 0 auto;
    border-radius: 15px;
    transition: transform 1s, opacity 0.5s ease;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.zoom-box-front {
    background: radial-gradient(circle,
        rgb(255, 222, 91) 20%,
        rgb(255, 206, 0) 75%);
    z-index: 2;
    transform: scale(1);
    opacity: 1;
}

.zoom-box-back {
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    transform: scale(0.3);
}

.zoom-box-inner:nth-of-type(1) .zoom-box-back {
    background-image: url('media/images/imagen-idiomas-tablero-fondo.png');
}

.zoom-box-inner:nth-of-type(2) .zoom-box-back {
    background-image: url('media/images/fondo-imagen-estudios-universitarios.png');
}

.zoom-box-inner:nth-of-type(3) .zoom-box-back {
    background-image: url('media/images/fondo-vacaciones-working-holiday.png');
}

.zoom-box-back-content {
    position: relative;
    z-index: 3;
    height: 100%;
    background-color: rgba(4, 158, 186, 0.8);
    padding: 10px;
    justify-content: center;
}
.zoom-box-front-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}

.zoom-box-front-content img{
    height: 100; 
    max-height: 150px;
        
}

.zoom-box-back:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


/* Zoom Box Effects */
.zoom-box-inner:hover .zoom-box-front{
    transform:scale(0.3);
    opacity:0;
}

.zoom-box-inner:hover .zoom-box-back{
    transform:scale(1);
}  
.zoom-box-inner:active .zoom-box-back{
    transform:scale(0.9);
}  



/*Gallery Stykes */
.gallery-section{
    margin-top: 30px;
    background-color: #103a55;
    padding: 50px 0;
    
}
.gallery-section h1, .gallery-section p {
    color:#ffffff;
}
.gallery-section .header{
 margin-bottom: 50px;
}

.gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 80vw; /* Adjust based on your layout */
    margin: 0px auto;    
}

.gallery {
    overflow: hidden;
    width: 70%;
    position: relative;
}

.gallery-list {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    margin: 30px auto;
}

.gallery-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.gallery-card {
    
    border: 1px solid #ccc; /* Card border */
    border-radius: 8px; /* Rounded corners */
    margin: 10px; /* Space between cards */
    padding: 10px; /* Inner padding */
    justify-content: center;
    align-content: center;
    text-align: center; /* Center text */
    background-color: #fff; /* Background color */
    min-width:150px; 
    width: 250px; /* Card width */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 1s ease;
    height: 100%;
}

.gallery-card:hover{
scale: 1.2;
margin: 25px; /* Space between cards */
cursor: pointer;
}

.gallery-card img {
    width: 100%; /* Image takes full width of the card */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Rounded image corners */
}

.card-title {
    margin-top: 5px; /* Space above title */
    font-weight: bold; /* Bold title */
}
.scroll-button {
    background-color:transparent;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    opacity: 0.8;
    scale: 1.3;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}



/* Footer Styles */
.footer {
    background-color: var(--dark-blue);
    color: white;
    padding: 2% 0;
    text-align: center;
    font-size: clamp(8px, 1.5vw, 30px);
    margin-top: 5%;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    color: #f38138;
}


@media (min-width: 1024px){
    .mobile-menu,.off-screen-menu {
      display: none; /* Hide mobile menu on larger screens */
      
   }
}
@media (max-width: 1024px) {
.main-menu{
   
}
.desktop-menu {
   display: none; /* Hide desktop menu on small screens screens */
}
.cta-button{
    display: none;
}

}
/*

   .small-text{
        font-size: 1.5rem;
        height: auto;
        padding: 0;
          }
   .big-text{
       font-size: 2.3rem;
        padding: 0;
       }

   .cta-button-hero{
       font-size: 1rem;
       
       }
   .services-container{
       padding: 5%;
           
       }
   .services-header{
       padding: 0 15px;
       box-sizing: border-box;
       margin-bottom: 0;
       }
   .services-header h1{
       font-size: 1.5rem;
       padding: 15px 0;
       text-align:center;
       }
   .zoom-box{
       display: block;
       flex-direction: column;
       margin-top: 20px;
       height: auto;
       }
   .zoom-box-inner{
       width: 80%;
       height: 250px;
       box-sizing: border-box;
       margin-bottom: 20px;
       
        }
       .zoom-box-front-content img{
           width:20%;
           border:0px
       }
       .zoom-box-front-content p{
        min-height: 100px;
        
    }
       .zoom-box-inner h1{
        font-size: 1.5rem;
        padding: 0;
        margin: 0;
       }
       .zoom-box-front-inner   p{
           font-size: 0.8rem;
          
       }
       .zoom-box-front-content{
        max-height: 250px;
       }
   
   .zoom-box-back{
   height: 250px;
   box-sizing: content-box;
   }
   .zoom-box-back-content{
       background-color: rgba(4, 158, 186, 0.9);
       padding: 0 10px ;
       justify-content: center;
       height: 250px;
       }
   
       .zoom-box-back-content h1, 
       .zoom-box-back-content p {
           color:#ffffff;
           text-align: center;
           padding: 10px;
           margin: 0px;
           line-height: 1;
        }
       .zoom-box-back-content h1{
           font-size: 1.2rem;
           margin-bottom: 10px;
           border-bottom: 2px solid #ffce00;
       }
       .zoom-box-back-content p{
           font-size: 0.8rem;
           margin-top: 10px;
           text-align: justify;
           padding: 0 10px;
       }
       .zoom-box-back-content .cta-button-hero{
           width: 30%;
           text-align: center;
           font-size: 0.8rem;
       }
       .gallery-container{
        margin: 0 auto; 
        max-width: 100%;   
    }
    .gallery-section{
        margin: 0 auto;
        
    }
    .gallery{
        width: 100%;
    }
    .gallery-list {
        overflow-x: auto; /* Allow horizontal scrolling */
 /*   }
    .scroll-button {
        padding: 5px;
        position: relative;
        max-width: 5%;
    }
    
}
}
   */   
@media (max-width: 600px) {
   .desktop-menu {
       display: none; /* Hide desktop menu on small screens screens */
     }
    }
    /*
        .zoom-box-front{
        display: none;
    }

     .small-text{
       font-size: 1.2rem;
       height: auto;
       padding: 0;
         }
  .big-text{
      font-size: 1.8rem;
       padding: 0;
      }
   video {
       object-fit: contain;
       width: 135%;    
   }
   .small-text{
    font-size: 0.6;
   }
   .cta-button-hero{
       font-size: 0.8rem;
       
       }
    .hero-section{
        align-items: center;
        justify-content: center;
       }
    .zoom-box-back{
        transform:scale(1);
    }
    .zoom-box-back-content .cta-button-hero{
        width: 60%;
        text-align: center;
        font-size: 0.8rem;
    }
}   
